/* Define colors */
:root {
    --transparent-background: rgb(255, 255, 255, 0.8);
    --main-color: rgba(0,0,120,0.9);
    --input-border: rgb(204, 204, 204);
}


/* Reset default properties */
* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
}


/* Backgrounds */
.app {
    height: 100vh;
    background: url(./background.jpg) no-repeat;
    background-size: auto 100%;
    background-position-x: center;
}

.card {
    background-color: var(--transparent-background);
}

.head {
    -webkit-box-shadow: 10px 10px 40px -15px var(--main-color);
    -moz-box-shadow: 10px 10px 40px -15px var(--main-color);
    box-shadow: 10px 10px 40px -15px var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
}


/* Input areas */
.input-area {
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1.5px solid var(--input-border);
    width: 100%;
    padding: 7px 0;
    background-color: transparent;
}

.input-area:focus {
    transition: border-bottom 0.4s;
    border-bottom: 1.5px solid var(--main-color);
}

textarea {
    resize: none;
}


/* Submit button */
.btn {
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 30%;
    background: var(--main-color);
    color: white;
}

.btn:hover {
    color: lightblue;
}